<a href="https://colab.research.google.com/github/Abhisek7602/Retail-Consumer360-Sales-Analysis/blob/main/Retail_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import all the necessary Library**

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt

# **Import the dataset**

In [ ]:
df=pd.read_excel('Clean_Sales.xlsx')
df

,Invoice,InvoiceDate,Customer ID,StockCode,Description,Quantity,Price,Revenue,Country
0,489434,2009-12-01 07:45:00,13085,85048,15Cm Christmas Glass Ball 20 Lights,12,6.95,83.40,United Kingdom
1,489434,2009-12-01 07:45:00,13085,79323P,Pink Cherry Lights,12,6.95,83.40,United Kingdom
2,489434,2009-12-01 07:45:00,13085,79323W,White Cherry Lights,12,6.95,83.40,United Kingdom
3,489434,2009-12-01 07:45:00,13085,22041,"Record Frame 7 Single Size """"",48,6.95,333.60,United Kingdom
4,489434,2009-12-01 07:45:00,13085,21232,Strawberry Ceramic Trinket Box,24,6.95,166.80,United Kingdom
...,...,...,...,...,...,...,...,...,...
9995,489792,2009-12-02 12:06:00,14527,35599B,Black Christmas Tree 120Cm,1,6.95,6.95,United Kingdom
9996,489792,2009-12-02 12:06:00,14527,22107,Pizza Plate In Box,2,6.95,13.90,United Kingdom
9997,489792,2009-12-02 12:06:00,14527,85232B,Set/3 Russian Doll Stacking Tins,2,6.95,13.90,United Kingdom
9998,489792,2009-12-02 12:06:00,14527,21479,White Skull Hot Water Bottle,6,6.95,41.70,United Kingdom
9999,489792,2009-12-02 12:06:00,14527,37485,English Rose Tea Set In Gift Box,1,6.95,6.95,United Kingdom

#**Data Quality Check**

In [ ]:
df.shape

(10000, 9)

In [ ]:
df.columns

Index(['Invoice', 'InvoiceDate', 'Customer ID', 'StockCode', 'Description',
       'Quantity', 'Price', 'Revenue', 'Country'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      10000 non-null  int64
 1   InvoiceDate  10000 non-null  datetime64[ns]
 2   Customer ID  10000 non-null  int64
 3   StockCode    10000 non-null  object
 4   Description  10000 non-null  object
 5   Quantity     10000 non-null  int64
 6   Price        10000 non-null  float64
 7   Revenue      10000 non-null  float64
 8   Country      10000 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 703.3+ KB

In [ ]:
df.describe()

,Invoice,InvoiceDate,Customer ID,Quantity,Price,Revenue
count,10000.000000,10000,10000.000000,10000.000000,1.000000e+04,10000.000000
mean,489754.011700,2009-12-02 09:08:06.168000,15493.872400,14.361700,6.950000e+00,99.813815
min,489434.000000,2009-12-01 07:45:00,12362.000000,1.000000,6.950000e+00,6.950000
25%,489564.000000,2009-12-01 13:13:00,14156.000000,2.000000,6.950000e+00,13.900000
50%,489702.000000,2009-12-02 10:52:00,15581.000000,4.000000,6.950000e+00,27.800000
75%,489896.000000,2009-12-03 07:57:00,16797.000000,12.000000,6.950000e+00,83.400000
max,490147.000000,2009-12-04 09:31:00,18229.000000,5184.000000,6.950000e+00,36028.800000
std,212.256729,NaN,1587.332326,95.371043,1.295029e-12,662.828749

In [ ]:
df.isnull().sum()

Invoice        0
InvoiceDate    0
Customer ID    0
StockCode      0
Description    0
Quantity       0
Price          0
Revenue        0
Country        0
dtype: int64

In [ ]:
df.head()

,Invoice,InvoiceDate,Customer ID,StockCode,Description,Quantity,Price,Revenue,Country
0,489434,2009-12-01 07:45:00,13085,85048,15Cm Christmas Glass Ball 20 Lights,12,6.95,83.4,United Kingdom
1,489434,2009-12-01 07:45:00,13085,79323P,Pink Cherry Lights,12,6.95,83.4,United Kingdom
2,489434,2009-12-01 07:45:00,13085,79323W,White Cherry Lights,12,6.95,83.4,United Kingdom
3,489434,2009-12-01 07:45:00,13085,22041,"Record Frame 7 Single Size """"",48,6.95,333.6,United Kingdom
4,489434,2009-12-01 07:45:00,13085,21232,Strawberry Ceramic Trinket Box,24,6.95,166.8,United Kingdom

In [ ]:
df.tail()

,Invoice,InvoiceDate,Customer ID,StockCode,Description,Quantity,Price,Revenue,Country
9995,489792,2009-12-02 12:06:00,14527,35599B,Black Christmas Tree 120Cm,1,6.95,6.95,United Kingdom
9996,489792,2009-12-02 12:06:00,14527,22107,Pizza Plate In Box,2,6.95,13.90,United Kingdom
9997,489792,2009-12-02 12:06:00,14527,85232B,Set/3 Russian Doll Stacking Tins,2,6.95,13.90,United Kingdom
9998,489792,2009-12-02 12:06:00,14527,21479,White Skull Hot Water Bottle,6,6.95,41.70,United Kingdom
9999,489792,2009-12-02 12:06:00,14527,37485,English Rose Tea Set In Gift Box,1,6.95,6.95,United Kingdom

#**Rfm Calculation**

In [ ]:
snapshot_date = df['InvoiceDate'].max() + pd.Timedelta(days=1)

rfm = df.groupby('Customer ID').agg({
    'InvoiceDate': lambda x: (snapshot_date - x.max()).days,
    'Invoice': 'nunique',
    'Revenue': 'sum'
}).reset_index()

rfm.columns = ['CustomerID', 'Recency', 'Frequency', 'Monetary']
rfm

     CustomerID  Recency  Frequency  Monetary
0         12362        3          1     13.90
1         12435        2          1   3336.00
2         12437        2          1   1827.85
3         12490        3          1   6143.80
4         12533        3          1   6727.60
..          ...      ...        ...       ...
278       18087        3          2   1640.20
279       18102        1          3  58915.15
280       18108        2          1   1146.75
281       18168        1          1   1112.00
282       18229        1          1    583.80

[283 rows x 4 columns]

# **Rfm Scoring**

In [ ]:
rfm['R_Score'] = pd.qcut(rfm['Recency'].rank(method='first'), 5, labels=[5,4,3,2,1])
rfm['F_Score'] = pd.qcut(rfm['Frequency'].rank(method='first'), 5, labels=[1,2,3,4,5])
rfm['M_Score'] = pd.qcut(rfm['Monetary'].rank(method='first'), 5, labels=[1,2,3,4,5])

rfm['RFM_Score'] = rfm['R_Score'].astype(str) + \
                   rfm['F_Score'].astype(str) + \
                   rfm['M_Score'].astype(str)
rfm

,CustomerID,Recency,Frequency,Monetary,R_Score,F_Score,M_Score,RFM_Score
0,12362,3,1,13.90,2,1,1,211
1,12435,2,1,3336.00,4,1,4,414
2,12437,2,1,1827.85,4,1,3,413
3,12490,3,1,6143.80,2,1,5,215
4,12533,3,1,6727.60,2,1,5,215
...,...,...,...,...,...,...,...,...
278,18087,3,2,1640.20,1,5,3,153
279,18102,1,3,58915.15,4,5,5,455
280,18108,2,1,1146.75,2,5,2,252
281,18168,1,1,1112.00,4,5,2,452
282,18229,1,1,583.80,4,5,1,451

# **Checking the Dtype of R_Score,F_Score,M_Score**

In [ ]:
rfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  283 non-null    int64
 1   Recency     283 non-null    int64
 2   Frequency   283 non-null    int64
 3   Monetary    283 non-null    float64
 4   R_Score     283 non-null    category
 5   F_Score     283 non-null    category
 6   M_Score     283 non-null    category
 7   RFM_Score   283 non-null    object
dtypes: category(3), float64(1), int64(3), object(1)
memory usage: 12.6+ KB

# **Changing the Dtype of R_Score,F_Score,M_Score**

In [ ]:
rfm['R_Score']=rfm['R_Score'].astype(str)

In [ ]:
rfm['F_Score']=rfm['F_Score'].astype(str)

In [ ]:
rfm['M_Score']=rfm['M_Score'].astype(str)

In [ ]:
rfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  283 non-null    int64
 1   Recency     283 non-null    int64
 2   Frequency   283 non-null    int64
 3   Monetary    283 non-null    float64
 4   R_Score     283 non-null    object
 5   F_Score     283 non-null    object
 6   M_Score     283 non-null    object
 7   RFM_Score   283 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 17.8+ KB

#**Customer Segmation Logic**

In [ ]:
def segment(row):
    if row['R_Score'] >= '4' and row['F_Score'] >= '4':
        return 'Champion'
    elif row['F_Score'] >= '4':
        return 'Loyal'
    elif row['R_Score'] <= '2' and row['F_Score'] <= '2':
        return 'Hibernating'
    else:
        return 'Potential Loyalist'

rfm['Segment'] = rfm.apply(segment, axis=1)
rfm

,CustomerID,Recency,Frequency,Monetary,R_Score,F_Score,M_Score,RFM_Score,Segment
0,12362,3,1,13.90,2,1,1,211,Hibernating
1,12435,2,1,3336.00,4,1,4,414,Potential Loyalist
2,12437,2,1,1827.85,4,1,3,413,Potential Loyalist
3,12490,3,1,6143.80,2,1,5,215,Hibernating
4,12533,3,1,6727.60,2,1,5,215,Hibernating
...,...,...,...,...,...,...,...,...,...
278,18087,3,2,1640.20,1,5,3,153,Loyal
279,18102,1,3,58915.15,4,5,5,455,Champion
280,18108,2,1,1146.75,2,5,2,252,Loyal
281,18168,1,1,1112.00,4,5,2,452,Champion
282,18229,1,1,583.80,4,5,1,451,Champion

SEGMENT VALIDATION (STATISTICAL AUDIT)

# **Segment Validation**

In [ ]:
rfm.groupby('Segment')['Monetary'].mean().sort_values(ascending=False)

Segment
Champion              7027.897917
Loyal                 4044.900000
Hibernating           3601.602703
Potential Loyalist    1989.633459
Name: Monetary, dtype: float64

## **Aim of the analysis to ensure that "Champions" demonstrably have the highest average spend and LTV.**
## **In my Analysis you can clearly observe that Champions are spending more so, we can say that campions have more Monetary value.**

# **Market Basket Analysis**

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
basket = df.groupby(['InvoiceNo', 'StockCode'])['Quantity'] \
           .sum().unstack().fillna(0)

basket = basket.applymap(lambda x: 1 if x > 0 else 0)

In [ ]:
frequent_items = apriori(basket, min_support=0.02, use_colnames=True)

rules = association_rules(
    frequent_items,
    metric='lift',
    min_threshold=1.2
)

rules.sort_values('confidence', ascending=False).head()

In [ ]:
rfm.to_csv("rfm_segments.csv", index=False)
rules.to_csv("association_rules.csv", index=False)

# **Cohort Analysis**

In [ ]:
# Create Invoice Month
df['InvoiceMonth'] = df['InvoiceDate'].dt.to_period('M')

# Get Cohort Month (first purchase month per customer)
cohort = (
    df.groupby('Customer ID')['InvoiceMonth']
      .min()
      .reset_index()
)

cohort.columns = ['Customer ID', 'CohortMonth']

# Remove old CohortMonth column if it already exists
df = df.drop(columns=['CohortMonth'], errors='ignore')

# Merge cohort info back to main dataframe
df = df.merge(cohort, on='Customer ID', how='left')
df

# # Count unique customers per cohort per month
cohort_counts = (
    df.groupby(['CohortMonth', 'InvoiceMonth'])['Customer ID']
      .nunique()
      .reset_index(name='CustomerCount')
)
cohort_counts

  CohortMonth InvoiceMonth  CustomerCount
0     2009-12      2009-12            283